pipeline/Scrape Data.json
{
	"name": "Scrape Data",
	"properties": {
		"activities": [
			{
				"name": "Fetch todos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Creating random filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "userId",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['title']"
								},
								"sink": {
									"name": "title",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['body']"
								},
								"sink": {
									"name": "body",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Todos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Todos_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy all CSVs from source to target",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fetch todos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Specific Files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Creating random filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "@concat('todo', '-', substring(guid(), 1, 4), '.csv')"
				}
			},
			{
				"name": "Delete the file from stage",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy all CSVs from source to target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Delete_Todos",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Fetching Todos",
				"description": "Fetching Todos Failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Fetch todos",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Fetching Todos Failed",
					"errorCode": "503"
				}
			},
			{
				"name": "Copying fetched todos",
				"description": "",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Copy all CSVs from source to target",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Copying Todos Failed",
					"errorCode": "503"
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "REST operations"
		},
		"annotations": []
	}
}