test-core/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "test-core"
		},
		"azurestorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azurestorage'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/azurestorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azurestorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFiles_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy Files Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed files/csv",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Finance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Finance Datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed finance",
						"container": "test-storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamic_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Files Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/Recent files",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmployeeCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Employee Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Employee_Compensation.csv",
						"folderPath": "source/employee",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Organization Group Code",
						"type": "String"
					},
					{
						"name": "Job Family Code",
						"type": "String"
					},
					{
						"name": "Job Code",
						"type": "String"
					},
					{
						"name": "Year Type",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Organization Group",
						"type": "String"
					},
					{
						"name": "Department Code",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "Union Code",
						"type": "String"
					},
					{
						"name": "Union",
						"type": "String"
					},
					{
						"name": "Job Family",
						"type": "String"
					},
					{
						"name": "Job",
						"type": "String"
					},
					{
						"name": "Employee Identifier",
						"type": "String"
					},
					{
						"name": "Salaries",
						"type": "String"
					},
					{
						"name": "Overtime",
						"type": "String"
					},
					{
						"name": "Other Salaries",
						"type": "String"
					},
					{
						"name": "Total Salary",
						"type": "String"
					},
					{
						"name": "Retirement",
						"type": "String"
					},
					{
						"name": "Health and Dental",
						"type": "String"
					},
					{
						"name": "Other Benefits",
						"type": "String"
					},
					{
						"name": "Total Benefits",
						"type": "String"
					},
					{
						"name": "Total Compensation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmployeeParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Employee Datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed employee",
						"container": "test-storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Files Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "source/test",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FilesCopy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Files Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed files",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "State/UT",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "2023",
						"type": "String"
					},
					{
						"name": "2022",
						"type": "String"
					},
					{
						"name": "2021",
						"type": "String"
					},
					{
						"name": "2020",
						"type": "String"
					},
					{
						"name": "2019",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Files_Dynamic_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Files Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "source/test",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Finance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Finance Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "financial-year.csv",
						"folderPath": "source/finance",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "industry_code_ANZSIC",
						"type": "String"
					},
					{
						"name": "industry_name_ANZSIC",
						"type": "String"
					},
					{
						"name": "rme_size_grp",
						"type": "String"
					},
					{
						"name": "variable",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "unit",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetFiles_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Copy Files Datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target",
						"container": "test-storage"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "OrganizationGroupCode",
						"type": "UTF8"
					},
					{
						"name": "JobFamilyCode",
						"type": "UTF8"
					},
					{
						"name": "JobCode",
						"type": "UTF8"
					},
					{
						"name": "YearType",
						"type": "UTF8"
					},
					{
						"name": "Year",
						"type": "UTF8"
					},
					{
						"name": "OrganizationGroup",
						"type": "UTF8"
					},
					{
						"name": "DepartmentCode",
						"type": "UTF8"
					},
					{
						"name": "Department",
						"type": "UTF8"
					},
					{
						"name": "UnionCode",
						"type": "UTF8"
					},
					{
						"name": "Union",
						"type": "UTF8"
					},
					{
						"name": "JobFamily",
						"type": "UTF8"
					},
					{
						"name": "Job",
						"type": "UTF8"
					},
					{
						"name": "EmployeeIdentifier",
						"type": "UTF8"
					},
					{
						"name": "Salaries",
						"type": "UTF8"
					},
					{
						"name": "Overtime",
						"type": "UTF8"
					},
					{
						"name": "OtherSalaries",
						"type": "UTF8"
					},
					{
						"name": "TotalSalary",
						"type": "UTF8"
					},
					{
						"name": "Retirement",
						"type": "UTF8"
					},
					{
						"name": "HealthandDental",
						"type": "UTF8"
					},
					{
						"name": "OtherBenefits",
						"type": "UTF8"
					},
					{
						"name": "TotalBenefits",
						"type": "UTF8"
					},
					{
						"name": "TotalCompensation",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sales_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sales Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "source/sales",
						"container": "test-storage"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sheet_Copy_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sales Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed sales",
						"container": "test-storage"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Chunk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"chunk_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Chunk Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SUCH_ID",
						"type": "String"
					},
					{
						"name": "SUCH_CODE",
						"type": "String"
					},
					{
						"name": "NLK",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Target_Chunks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Chunk Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "target/processed chunks",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "State/UT",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "2023",
						"type": "String"
					},
					{
						"name": "2022",
						"type": "String"
					},
					{
						"name": "2021",
						"type": "String"
					},
					{
						"name": "2020",
						"type": "String"
					},
					{
						"name": "2019",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azurestorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Weather Dataset"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "weather_data.csv",
						"folderPath": "source/weather",
						"container": "test-storage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "station_id",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "temperature",
						"type": "String"
					},
					{
						"name": "snow_depth",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azurestorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Chunks')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Chunks",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"prefix": "source/chunks/chunk_"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUCH_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUCH_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUCH_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUCH_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NLK",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NLK",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Source_Chunk",
								"type": "DatasetReference",
								"parameters": {
									"chunk_name": "done"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Target_Chunks",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Copy Activity"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_Chunk')]",
				"[concat(variables('factoryId'), '/datasets/Target_Chunks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Different Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Gell all files from source folder",
						"description": "",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter CSV files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Gell all files from source folder",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Gell all files from source folder').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy each filtered file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter CSV files",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter CSV files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Files_Dynamic_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "CSVFiles_Dataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Copy Activity"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Files')]",
				"[concat(variables('factoryId'), '/datasets/Files_Dynamic_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/CSVFiles_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Employee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Organization Group Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrganizationGroupCode",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Job Family Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobFamilyCode",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Job Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobCode",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Year Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearType",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Organization Group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrganizationGroup",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Department Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DepartmentCode",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Union Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnionCode",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Union",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Union",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Job Family",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JobFamily",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Job",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Job",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Employee Identifier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EmployeeIdentifier",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salaries",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Salaries",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Overtime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Overtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Other Salaries",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherSalaries",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Salary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalSalary",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Retirement",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Retirement",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Health and Dental",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HealthandDental",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Other Benefits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OtherBenefits",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Benefits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalBenefits",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Compensation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalCompensation",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EmployeeCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EmployeeParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Copy Activity"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EmployeeCSV')]",
				"[concat(variables('factoryId'), '/datasets/EmployeeParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy list files",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"fileListPath": "test-storage/source/test/files.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FilesCopy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Copy Activity"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Files')]",
				"[concat(variables('factoryId'), '/datasets/FilesCopy')]"
			]
		}
	]
}